<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean id="post" class="com.example.yeshendrayt.SimplePost" scope="prototype"></bean>
    <bean id="postList" class="com.example.yeshendrayt.SimplePostList" scope="singleton"></bean>
    
    
    <bean id="user" class="com.example.yeshendrayt.SimpleUser" init-method="init" destroy-method="destroy">
    	<property name="postList" ref="postList"></property>
    </bean>

</beans>